build/
dist/
/lez06/nbproject/private/
/JavaApplication6/nbproject/private/
/HTML5Application/nbproject/private/
/html5-lez02/nbproject/private/
/lez07/nbproject/private/
/lez08/nbproject/private/
/WebStandards_lez01/nbproject/private/
/WebStandards_lez02/nbproject/private/
/WebStandards_lez03/nbproject/private/
/ipertesto/nbproject/private/
/lez09/nbproject/private/
/lez09_Dadi/nbproject/private/
/lez09_dadi/nbproject/private/
/WebStandards_lez04/nbproject/private/
/lez09_garage/nbproject/private/
/lez09_garage_1/nbproject/private/
/lez09_garage_interfacce/nbproject/private/
/lez10_esercizi/nbproject/private/
/lez10_eser_Domenici/nbproject/private/
/lez-10/nbproject/private/
/WebStandards_lez07/nbproject/private/
/lez11/nbproject/private/
/lez12-jdbc/target/
/lez13_exception/nbproject/private/
/lez13_jdbc_Exception/target/
/lez13_io/target/
/lez14_servlet/nbproject/private/
/lez14/nbproject/private/
/lez14-collezioni/nbproject/private/
/lez15-static/nbproject/private/
/esempio/nbproject/private/
/JavaApplication17/nbproject/private/
/BookNfood/nbproject/private/
/WebComponentesStart/nbproject/private/
/localStorage/nbproject/private/