build/
dist/
/lez06/nbproject/private/
/JavaApplication6/nbproject/private/
/HTML5Application/nbproject/private/
/html5-lez02/nbproject/private/
/lez07/nbproject/private/
/lez08/nbproject/private/
/WebStandards_lez01/nbproject/private/
/WebStandards_lez02/nbproject/private/
/WebStandards_lez03/nbproject/private/
/ipertesto/nbproject/private/
/lez09/nbproject/private/
/lez09_Dadi/nbproject/private/
/lez09_dadi/nbproject/private/